@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-6">
        <div class="card"><h4>Tin 1</h4><p>Nội dung demo…</p></div>
        <div class="card"><h4>Tin 2</h4><p>Nội dung demo…</p></div>
    </div>
    <div class="col-md-6">
        <div class="card"><h4>Tin 3</h4><p>Nội dung demo…</p></div>
        <div class="card"><h4>Tin 4</h4><p>Nội dung demo…</p></div>
    </div>
</div>
