@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-8">
        <h4 class="bg-primary text-white p-2">UEF News</h4>
        <div class="card mb-3">
            <img src="~/Content/images/uef-news.jpg" class="card-img-top" alt="UEF News" />
            <div class="card-body">
                <h5 class="card-title">UEFers meet and greet...</h5>
                <p class="card-text">Enjoying traditional Vietnamese cakes, singing, dancing...</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <h4 class="bg-danger text-white p-2">Top Headlines</h4>
        <ul class="list-group">
            <li class="list-group-item">UEF x UoG: Strategic partnership...</li>
            <li class="list-group-item">Plus 3 - 2024: Pittsburgh students...</li>
            <li class="list-group-item">UEF welcomes American student delegation...</li>
        </ul>
    </div>
</div>
